$azulVerdeGreen: #a0c1b8;
$ivoryYellow: #f4e8c1;
$boliviaBlue: #709fb0;
$jacarandaPurple: #726a95;
$malbecBlack: #351f39;
$dtbMostGreen: #9fcfbe;
$dtbMoreGreen: #9cc3b0;
$dtbLightGreen: #cfe0db;
$dtbSlightGreen: #ecf2f0;
$seaGreen: #1b503e;
$slateGray: #94a6ab;
$cellGray: #e0e0e0;
$textGray: #7a7a7a;
//$slightGreen:#e2ece9


.greenTextLogo {
  color: $boliviaBlue;
}

.pad2rem {
  padding: 2rem;
}

.padLeft2rem{
  padding-left: 2rem;
}

.marginTop2rem {
  margin-top: 2rem;
}

.slateGrayColor {
  color: $slateGray;
}

.fontSmall {
  font-size: 0.85rem;
}